# My Env File
INWX_USERNAME=my_user
INWX_PASSWORD=my_password
# INWX_SHARED_SECRET= # A shared secret if you have enabled Mobile TAN (two-factor authentication)
# INWX_ENDPOINT_URL= # Not needed if you run on prod

CROWDSEC_API_URL=http://localhost:8080
CROWDSEC_API_KEY=your_crowdsec_bouncer_key
# CROWDSEC_APPSEC_URL=http://localhost:7422
